.rules-container {
  padding-top: 10vh;
  min-height: 93vh;
  width: 98.9vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 252, 234);
}

.rules-heading {
  font-size: 1.8rem;
}

.rules {
  font-size: 1.2rem;
  width: 55%;
  border: 1.5px solid black;
  padding: 1rem;
  background-color: rgb(243, 236, 236);
  border-radius: 1.2rem;
}

.btn-toQuizPage {
  width: 12rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.5rem;
  background-color: blue;

  /* border: 2px solid blue; */
}

.btn-toQuizPage:hover {
  background-color: darkblue;
}

.btn-toQuizPage a {
  color: white;
  text-decoration: none;
}

.btn-toQuizPage a:hover {
  color: white;
}

/******* Name container *****/

.name-container {
  height: 35vh;
  width: 40vw;
  font-size: 1.5rem;
  border: 1px solid black;
  position: absolute;
  background-color: rgb(243, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.2rem;
}

.submit {
  width: 12rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.5rem;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: darkblue;
}

#userName {
  width: 30rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.2rem;
}
