.rules-container {
  padding-top: 10vh;
  min-height: 93vh;
  width: 98.9vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
}

.rules-heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.rules {
  font-size: 1.2rem;
  width: 55%;
  border: 1.5px solid var(--black-color);
  padding: 1rem;
  background-color: var(--background2-color);
  border-radius: 1.2rem;
}

.btn-toQuizPage {
  width: 12rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.5rem;
  background-color: var(--primary-color);
}

.btn-toQuizPage:hover {
  background-color: var(--darkBlue-color);
}

.btn-toQuizPage a {
  color: var(--white-color);
  text-decoration: none;
}

.btn-toQuizPage a:hover {
  color: var(--white-color);
}

/******* Name container *****/

.name-container {
  height: 35vh;
  width: 40vw;
  font-size: 1.5rem;
  border: 1px solid var(--black-color);
  position: absolute;
  background-color: var(--background2-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.2rem;
}

.submit {
  width: 12rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--darkBlue-color);
}

#userName {
  width: 30rem;
  font-size: 1.2rem;
  padding: 6px 4rem;
  border-radius: 1.2rem;
}

.error-name {
  color: var(--red-color);
  font-size: 10px;
  font-weight: 600;
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .name-container {
    width: 80vw;
  }
  #userName {
    width: 15rem;
    font-size: 1.2rem;
    padding: 6px 4rem;
    border-radius: 1.2rem;
  }
  .rules-container {
    min-height: 120vh;
  }
  .rules {
    font-size: 1rem;
    width: 88%;
  }
}
