.card-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  flex-wrap: wrap;
}

.card {
  min-height: 40vh;
  width: 15.8rem;
  border: 4px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 8px;
  font-size: 1rem;
  object-fit: cover;
  margin: 2rem;
}

.card:hover {
  box-shadow: 3px 3px 3px var(--darkGray-color);
}

.card-img {
  width: 15.3rem;
  height: 22vh;
}

.description {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.heading-container {
  padding: 5px 0;
  position: relative;
}

.heading {
  position: absolute;
  color: var(--white-color);
  top: -6rem;
  left: 5rem;
}

.btn-playNow {
  padding: 8px 1.8rem;
  background-color: var(--primary-color);
  margin: 0 0 0.6rem 4rem;
  border-radius: 1.5rem;
  border: none;
}

.btn-playNow a {
  text-decoration: none;
  color: var(--white-color);
}

.btn-playNow:hover {
  background-color: var(--darkBlue-color);
}

/****** mobile version  *****/

@media only screen and (max-width: 800px) {
  .card {
    margin-top: 3rem;
  }
}
