.navbar {
  height: 10vh;
  width: 100vw;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 1.3rem;
  z-index: 10;
  border-bottom: 1px solid var(--primary-color);
}

.navIcons {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}

.left {
  width: 9rem;
}

.log a {
  color: var(--black-color);
  text-decoration: none;
  padding: 8px 1rem;
  font-size: 1rem;
}

.company-logo a {
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  color: var(--white-color);
  margin-left: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-heart {
  color: var(--white-color);
}

.fa-search {
  cursor: pointer;
}
