.siteInfo {
  width: 98.9vw;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  padding-top: 4px;
  border-top: 1px solid blue;
}

.contact {
  color: white;
  background-color: black;
}

.footer--icons i {
  color: white;
  padding: 2px;
  margin: 3px 0;
}
