* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.main-container {
  min-height: 93vh;
}

.error404 {
  font-size: 6rem;
  margin: 15rem 0 0 16rem;
}
.error404-msg {
  font-size: 1rem;
  margin: 1rem 32rem;
  color: var(--red-color);
}

@media only screen and (max-width: 500px) {
  .error404 {
    font-size: 4rem;
    padding: 14rem 0 0 3rem;
  }
  .error404-msg {
    font-size: 1rem;
    margin: 4rem;
    color: var(--red-color);
  }
}

/********** Colors ***********/

:root {
  --primary-color: blue;
  --background-color: rgb(255, 252, 234);
  --background2-color: rgb(243, 236, 236);
  --black-color: black;
  --white-color: white;
  --green-color: green;
  --darkGreen-color: darkgreen;
  --lawngreen-color: lawngreen;
  --red-color: red;
  --darkBlue-color: darkblue;
  --darkGray-color: darkgray;
  --background2-color: rgb(243, 236, 236);
}
